<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @reviewer.first_name %>,</h1>
    <p>
      You have a new review in your queue.
    </p>
    <p>
      Please login here to do the review: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
